<div class="center hero-unit">
<h1><!-- TODO --></h1>
 <%#= link_to "TODO", new_path, class: "btn btn-large primary" %>
 </div>

<!-- USE THIS TO VIEW ALL THE GAMES PLAYED SO FAR -->
<%# @games.each do |game| %>
<!--<%#= game.inspect %>-->
<%# end %>
