<div class="center hero-unit">
<h1>TicTacToe is coming soon!</h1>
 <%= link_to "Start Game!", new_path, class: "btn btn-large primary" %>
 </div>
 <% @games.each do |game| %>
 <%= game.inspect %>
 <% end %>
