<% provide(:title, 'Play Game') %>
<br/>
<h1>Play Game</h1>
<p>it's coming soon!</p>
<table>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
