<% provide(:title, 'Play Game') %>
<br/>
<h1>Play Game</h1>
<p>it's coming soon!</p>
<table id=board>
  <tr>
    <td class="left top"></td>
    <td class="top vertical-mid"></td>
    <td class="top right"></td>
  </tr>
  
  <tr>
    <td class="left horizontal-mid"></td>
    <td class="vertical-mid horizontal-mid"></td>
    <td class="right horizontal-mid"></td>
  </tr>

  <tr>
    <td class="left bottom"></td>
    <td class="bottom vertical-mid"></td>
    <td class="bottom right"></td>
  </tr>
</table>
