<!-- TODO -->
<!-- TODO -->

<br/>

<h1><!-- TODO --></h1>

<table id='board'>
  <!-- iterate through each array in board, grabs the array and the index -->
  <%# <!-- TODO --> %>
    <tr>
     <!-- iterate through the row and column to place the coordinates on the board -->
      <%# <!-- TODO -->  %>
        <td class="<%= create_cell_class(row, column) %>" >
          <%# <!-- TODO -->  %>
            <%#= <!-- TODO -->  %>
          <%# <!-- TODO -->  %>
          <!-- render partial here! -->
            <%#= <!-- TODO -->  %>
          <%# <!-- TODO -->  %>
        </td>
      <%# <!-- TODO -->  %>
    </tr>
  <%# <!-- TODO -->  %>

</table>

