<% @controller = GamesController.new %>
<% provide(:title, 'Play Game') %>

<br/>

<h1>Play Game</h1>

<table id=board>
  <% @game.board.each_with_index do |arry, row| %>
    <tr>
      <% arry.each_with_index do |el, column| %>
        <td >
          <% if el %>
            <%= el %>
          <% else %>
            <%= render :partial => "board_form", :locals => { 
            :game => @game, :row => row, :column => column } %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

 <%= @game.board %>
 <%= @game.winner? %>

