<% @controller = GamesController.new %>
<% provide(:title, 'Play Game') %>
<br/>
<h1>Play Game</h1>
<table id=board>
  <tr>

    <td class="left top">
      <% if @game.board[0][0] %>
        <%= @game.board[0][0] %>
      <% else %>
       <%= render :partial => "board_form", :locals => { 
      :game => @game, :row => 0, :column => 0 } %>
      <% end %>
    </td>
    <td class="top vertical-mid"><a href="#"></a></td>
    <td class="top right"><a href="#"></td>
  </tr>
  
  <tr>
    <td class="left horizontal-mid"><a href="#"></a></td>
    <td class="vertical-mid horizontal-mid"><a href="#"></a></td>
    <td class="right horizontal-mid"><a href="#"></a></td>
  </tr>

  <tr>
    <td class="left bottom"><a href="#"></a></td>
    <td class="bottom vertical-mid"><a href="#"></a></td>
    <td class="bottom right"><a href="#"></a></td>
  </tr>
</table>


 <%= @game.board %>
 <%= @game.winner? %>

