<% provide(:title, 'Play Game') %>
<br/>
<h1>Play Game</h1>
<table id=board>
  <tr>
    <td class="left top"><%= @game.play(0,0) %><a href="#"></a></td>
    <td class="top vertical-mid"><a href="#"></a></td>
    <td class="top right"><a href="#"></a></td>
  </tr>
  
  <tr>
    <td class="left horizontal-mid"><a href="#"></a></td>
    <td class="vertical-mid horizontal-mid"><a href="#"></a></td>
    <td class="right horizontal-mid"><a href="#"></a></td>
  </tr>

  <tr>
    <td class="left bottom"><a href="#"></a></td>
    <td class="bottom vertical-mid"><a href="#"></a></td>
    <td class="bottom right"><a href="#"></a></td>
  </tr>
</table>